key {
    padding: 10px 5px;
    border-top: 1px solid #888888;
    border-right: 8px solid #888888;
    border-bottom: 8px solid #888888;
    border-left: 1px solid #888888;
    border-radius: 4px 0 0 0;
    box-shadow: 1px 1px 2px #888888;
    color: black;
    display: inline;
}

.single {
    padding: 10px 15px;
}

div {
    display: inline;
}

.active {
    background-color: #dddddd;
}

.tab {
    padding-left: 20px;
    padding-right: 20px;
}
.keyboard-row {
    margin-bottom: 30px;
}
h1 {
    margin-bottom: 30px;
}