key {
    font-family: "Courier", "Courier New", "Monaco", "monospace";
    padding: 10px 5px;
    border-top: 1px solid #888888;
    border-right: 8px solid #888888;
    border-bottom: 8px solid #888888;
    border-left: 1px solid #888888;
    border-radius: 4px 0 0 0;
    box-shadow: 1px 1px 2px #888888;
    color: black;
    display: inline;
}

.single {
    padding: 10px 15px;
}

keyboard div{
    display: inline;
}

div keyboard {
    margin: 0 auto;
}

.active {
    background-color: #dddddd;
}


.key-error {
    background-color: #ff0000;
}


.key-pressed {
    position: relative;
    top:7px;
    border-top: 8px solid #888888;
    border-right: 1px solid #888888;
    border-bottom: 1px solid #888888;
    border-left: 8px solid #888888;
    background-color: #efefef;
}

.tab {
    padding-left: 20px;
    padding-right: 20px;
}

.bck {
    padding-left: 24px;
    padding-right: 24px;
}

.caps {
    padding-left: 24px;
    padding-right: 24px;
}

.slash {
    padding-left: 23px;
    padding-right: 23px;
    
}

.enter {
    padding-left: 25px;
    padding-right: 25px;
}

.shift {
    padding-left: 35px;
    padding-right: 35px;
}

.ctrl, .cmd, .alt {
    padding-left: 20px;
    padding-right: 20px;
}

.spacebar {
    padding-left: 130px;
    padding-right: 130px;
    margin: 0 6px 0 3px;
}

.upper {
    text-transform: uppercase;
}

.keyboard-row {
    margin-bottom: 30px;
}

.challenge-input {
    margin-bottom: 30px;
}

.challenge-sentence {
    text-align: center;
    font-weight: 900;
    margin: 0 auto 30px;
    font-size: 20px;
    padding: 8px 0 16px 0;
    width: 100%;
    background-color: #cddccd;
}